# Ensure everything in this folder is properly compatible with Windows.
.gitignore text eol=crlf
.gitattributes text eol=crlf
*.md text eol=crlf

*.h text eol=crlf
*.c text eol=crlf
*.cpp text eol=crlf

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
